{%load static%}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="{%static 'user/login-page.css'%}" />
		<!-- <script defer src="login-page.js"></script> -->
	</head>

	<body>
		<main id="main-holder">
			<h1 id="login-header">Login</h1>

			<img src="{%static 'logo.jpg'%}" style="width:30%" class="rounded mx-auto d-block" alt="...">

			<div id="login-error-msg-holder">
				<p id="login-error-msg">
					Invalid username
					<span id="error-msg-second-line">and/or password</span>
				</p>
			</div>

			<form method="post" id="login-form">
				{%csrf_token%}
				<input
					type="text"
					name="username"
					id="username-field"
					class="login-form-field"
					placeholder="Username"
				/>
				<input
					type="password"
					name="password"
					id="password-field"
					class="login-form-field"
					placeholder="Password"
				/>
				<button type="submit" id="login-form-submit" > Submit </button>
			</form>
			<a href="{%url 'user:register_user'%}">New user?</a>
		
		</main>
		
	</body>
</html>
